<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать на выставку!</title>
</head>
<body>

<h1>Информация о Вас:</h1>

<div style="background: rgb(0, 255, 76); margin-bottom: 15px; padding: 8px;">
    Имя пользователя: {{login}} 
    <br>
    Пароль: {{password}}
    <br>
    Хобби: {{hobby}}
    <br>
    Возраст: {{age}} 
</div>

    
</body>
</html>